<h2 class="errorMainHeader">Произошла ошибка!</h2> 

<p class="errorInfo1">Данные формы не были отправлены.</p> 
<p class="errorInfo2">Если ошибка повторяется, то обратитесь за помощью по телефону (381-2) 24-40-78 (с понедельника по четверг&nbsp;— с 9:00 до 18:00, в пятницу&nbsp;— с 9:00 до 16:30) или по электронной почте <a href="mailto:feedback@admomsk.ru">feedback@admomsk.ru</a>.</p>	