<label class="lIndividualApplicant">Заявитель — физическое лицо<div class="required">*</div></label>

<div class="IndividualApplicant group">
	<div class="IndividualLastName">
		<div location="tfIndividualLastName"></div>
		<div location="valTfIndividualLastName"></div>
		<label class="lIndividualLastName smallgrey">Фамилия</label>
	</div>
	
	<div class="IndividualFirstName">
		<div location="tfIndividualFirstName"></div>
		<div location="valTfIndividualFirstName"></div>
		<label class="lIndividualFirstName smallgrey">Имя</label>
	</div>
	
	<div class="IndividualMiddleName">
		<div location="tfIndividualMiddleName"></div>
		<!-- <div location="valTfIndividualMiddleName"></div> -->
		<label class="lIndividualMiddleName smallgrey">Отчество</label>
	</div>
</div>

<div class="group">
	<div location="cbIndividualChangeLastName"></div>
	<label class="lIndividualChangeLastName">Заявитель менял фамилию, имя или отчество</label>
	<div location="culIndividualChangeLastName"></div>
</div>

<div class="clr"></div>
<label class="lIndividualPassport">Паспорт<div class="required">*</div></label>

<div class="IndividualPassport group">
	<div class="IndividualSeriesPassport">
		<div location="tfIndividualSeriesPassport"></div>
		<div location="valTfIndividualSeriesPassport"></div>
		<label class="lIndividualSeriesPassport smallgrey">Серия</label>
	</div>
	
	<div class="IndividualNumberPassport">
		<div location="tfIndividualNumberPassport"></div>
		<div location="valTfIndividualNumberPassport"></div>
		<label class="lIndividualNumberPassport smallgrey">Номер</label>
	</div>
</div>

<label class="lIndividualWhoGivePassport">Кем выдан паспорт<div class="required">*</div></label>
<div class="group">
	<div location="tfIndividualWhoGivePassport"></div>
	<div location="valTfIndividualWhoGivePassport"></div>
</div>

<label class="lIndividualDateIssuePassport">Дата выдачи паспорта<div class="required">*</div></label>
<div class="group">
	<div location="pdfIndividualDateIssuePassport"></div>
	<div location="valPdfIndividualDateIssuePassport"></div>
</div>

<label class="lIndividualAddress">Адрес<div class="required">*</div></label>

<div class="IndividualAddress group">
	<div class="IndividualCountry">
		<div location="tfIndividualCountry"></div>
		<div location="valTfIndividualCountry"></div>
		<label class="lIndividualCountry smallgrey">Страна</label>
	</div>
	
	<div class="IndividualRegion">
		<div location="tfIndividualRegion"></div>
		<!-- <div location="valTfIndividualRegion"></div> -->
		<label class="lIndividualRegion smallgrey">Регион</label>
	</div>
	
	<div class="IndividualCity">
		<div location="tfIndividualCity"></div>
		<div location="valTfIndividualCity"></div>
		<label class="lIndividualCity smallgrey">Город</label>
	</div>
	
	<div class="IndividualStreet">
		<div location="tfIndividualStreet"></div>
		<div location="valTfIndividualStreet"></div>
		<label class="lIndividualStreet smallgrey">Улица</label>
	</div>
	
	<div class="IndividualHome">
		<div location="tfIndividualHome"></div>
		<div location="valTfIndividualHome"></div>
		<label class="lIndividualHome smallgrey">Дом</label>
	</div>
	
	<div class="IndividualHousing">
		<div location="tfIndividualHousing"></div>
		<!--<div location="valTfIndividualHousing"></div> -->
		<label class="lIndividualHousing smallgrey">Корпус</label>
	</div>
	
	<div class="IndividualApartment">
		<div location="tfIndividualApartment"></div>
		<!-- <div location="valTfIndividualApartment"></div>-->
		<label class="lIndividualApartment smallgrey">Квартира</label>
	</div>
</div>

<label class="lIndividualNumberTelephone">Телефон<div class="required">*</div></label>

<div class="group">
	<div location="tfIndividualNumberTelephone"></div>
	<label class="lIndividualInfo2 smallgrey">Для возможности оперативной связи необходимо указывать контактный номер стационарного телефона (домашний, рабочий).</label>
	<div location="valTfIndividualNumberTelephone"></div>
</div>

<div class="clr"></div>
<label class="lIndividualEmail">Адрес электронной почты<div class="required">*</div></label>

<div class="group">
	<div location="tfIndividualEmail"></div>
	<div location="valTfIndividualEmail"></div>
	<label class="lIndividualInfo3 smallgrey">На указанный адрес будет направлено уведомление о готовности документа с указанием адреса службы одного окна, по которому будет выдаваться запрашиваемый документ, и телефона для справок.</label>
</div>

<div class="group">
	<label class="lIndividualSupportDoc1">В случае запроса архивного документа, содержащего персональные данные другого лица, перечислите документы, подтверждающие право заявителя на их получение:</label>
	<div location="chPowerAttorney"></div>
	<div location="chDocChangeName"></div>
	<div location="chBirthCertificate"></div>
	<div location="chDeathCertificate"></div>
	<div location="chIndividualOtherDoc"></div>
	<div location="tfIndividualOtherDoc"></div>
	<label class="lIndividualSupportDoc2">Необходимо помнить, что все отмеченные документы подлежат предъявлению при получении запрашиваемого архивного документа.</label>
</div>

