<div id="viewArchCopReg">
	
	<div style="formArchCopReg">
		<h3 class="viewHeaderStep1">Определите вид документа</h3>
		
		<div class="step1">
			<label class="lPurposeRequest">Цель запроса<div class="required">*</div></label>
			
			<div class="group">
				<div location="tfPurposeRequest"></div>
				<div location="valPurposeRequest"></div>
			</div>
			
			<label class="lRequestedDocument">Запрашиваемый документ<div class="required">*</div></label>
			
			<div class="group">
				<div location="ogRequestedDocument"></div>
				<div location="valOgRequestedDocument"></div>
			</div>
			
			<div location="culScopeDocument"></div>
		</div>
		
		<h3 class="viewHeaderStep2">Введите реквизиты документа</h3>
		
		<div class="step2">
			<label class="lNameDocument">Название документа или опорные слова из содержательной части документа<div class="required">*</div></label>
			
			<div class="group">
				<div location="tfNameDocument"></div>
				<div location="valTfNameDocument"></div>
			</div>
			
			<div class="group">
				<label class="lNumberDocument">Номер документа</label>
				<div location="tfNumberDocument"></div>
			</div>
			
			<div class="group">
				<label class="lDatePublicDocument">Дата издания документа</label>
				<div location="ogDatePublicDocument"></div>
				<div location="culExactDate"></div>
				<div location="culDateRange"></div>
			</div>
			
			<div class="group">
				<label class="lOtherInformation">Иные сведения, облегчающие поиск запрашиваемого документа</label>
				<div location="tfOtherInformation"></div>
			</div>
			
		</div>
		
		<h3>Введите сведения о заявителе</h3>
		
		<div class="step3">
			<div class="group">
				<label class="lApplicant">Заявитель<div class="required">*</div></label>
				<div location="ogApplicant"></div>
				<div location="valOgApplicant"></div>
			</div>
			
			<div location="culIndividual"></div>
			
			<div location="culLegal"></div>
		</div>
		
		<div class="lSend smallgrey">Заполнив форму и нажав кнопку «Отправить», я даю свое согласие Администрации города Омска, находящейся по адресу: город Омск, улица Гагарина, дом 34, на передачу, обработку и хранение моих персональных данных, указанных выше, с использованием средств автоматизации в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных».</div>
		
	</div>
	<div location="bSend"></div>
	
	<div location="culError"></div>

</div>